# IntelliJ User files
.idea/
*.iml

# Class files
*.class

log/Logfile.1

log/Snapshot.1

log/Version_Number

lib/mysql-connector-java-8.0.19.jar

lib/mysql-connector.jar

src/Main.java

SQL/Query for searching between dates.sql

SQL/creating tables Car rentalContract.sql

*.sql
